/* Stili Generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 70%;
  margin: 0 auto;
  padding-top: 80px;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-right: 10px;
  color: white;
  font-weight: bold;
}

i {
  margin-left: 5px;
  color: white;
}

.item img {
  width: 100%;
}

h3 {
  color: white;
}

/* Stile Header */

header {
  background-color: rgb(255, 102, 0);
  height: 80px;
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 200;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-middle img {
  height: 50%;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Stile Nav */

nav {
  width: 70%;
  margin: 0 auto;
  display: flex;
  height: 50px;
}

.nav-left, .nav-right {
  width: 25%;
}

.nav-middle {
  width: 50%;
}

/* Stile Main */

.item {
  width: calc((100% / 3) - 20px);
  float: left;
  margin: 50px 10px;
  position: relative;
}

.img-hidden {
  display: none;
}

.images:hover .img-hidden {
  display: block;
  z-index: 10;
}

.images:hover .img-shown{
  display: none;
}

main i {
  color: black;
  position: absolute;
  top: 15px;
  right: 15px;
}

.sale {
  position: absolute;
  bottom: 100px;
  color: white;
  background-color: red;
  font-size: 14px;
  padding: 2px 8px;
}

.sustainability {
  position: absolute;
  bottom: 100px;
  left: 55px;
  color: white;
  background-color: green;
  font-size: 14px;
  padding: 2px 8px;
}

.item.esprit .sustainability {
  position: absolute;
  bottom: 100px;
  left: 0;
  color: white;
  background-color: green;
  font-size: 14px;
  padding: 2px 8px;
}

.brand {
  font-size: 11px;
}

.name {
  font-weight: bold;
}

.price {
  font-size: 11px;
  color: red;
  font-weight: bold;
}
 
#discount {
  color: black;
  text-decoration: line-through;
}

/* Stile Footer */

footer {
  background-color: rgb(26, 26, 26);
  height: 80px;
  width: 100%;
  clear: both;
}

footer .container {
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  display: flex;
  height: 100%
}

.footer-left {
  width: 50%;
  display: flex;
  align-items: center;
}

footer li {
  font-weight: normal;
}

footer i {
  background-color: white;
  color: black;
}

.footer-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right {
  display: flex;
  flex-direction: column;
}

.social {
  margin-top: 5px;
  padding: 0 5px;
}