/* Stili Generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 70%;
  margin: 0 auto;
  padding-top: 80px;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-right: 10px;
  color: white;
  font-weight: bold;
}

i {
  margin-left: 5px;
  color: white;
}

/* Stile Header */

header {
  background-color: rgb(255, 102, 0);
  height: 80px;
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 200;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-middle img {
  height: 50%;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Stile Nav */

nav {
  width: 70%;
  margin: 0 auto;
  display: flex;
  height: 50px;
}

.nav-left, .nav-right {
  width: 25%;
}

.nav-middle {
  width: 50%;
}

/* Stile Main */

.item {
  width: calc((100% / 3) - 20px);
  float: left;
  margin: 50px 10px;
  background: lightgray;
  /* DEBUG */
  height: 400px;
  border: 1px solid black;
}

/* Stile Footer */

footer {
  background-color: rgb(26, 26, 26);
  height: 60px;
  width: 100%;
  clear: both;
}

footer .container {
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  display: flex;
  height: 100%
}

.footer-left, .footer-right {
  width: 50%;
  /* DEBUG */
  border: 1px solid white;
}